 .parallax{
/*Parallax effect.*/
 width: 100%;
 height:100vh;
 
 /* Image URL */
 background-image:url("/images/pics/fcc-wide1.png");

 /* Centering and preventing image repetition of background image */
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 display: flex;
  align-items: center;
 justify-content: center;
 }

 .parallax-content{    
margin-top:35vh;
display: inline-block;

 }
 .parallax-content p {
     margin:2vw 2vh;
     font-size: 130%;
     text-align: start;
     }
a.learn-button{
    background-image: url(/images/colors/yellow.svg);
    color:var(--gray05);
    margin: 65px;
    border: 10px;
}
a.learn-button:hover {
    background-image: url(/images/colors/brown.svg);
    color: var(--gray00);
    margin: 65px;
    border: 10px;
}
.main-button {
    background-image: url(/images/colors/darkgreen.svg);
    color: var(--gray05);
    margin: 50px;
    border: 10px;
}

.main-button:hover {
    background-image: url(/images/colors/gray75.svg);
    color: var(--gray00);
    margin: 50px;
    border: 10px;
}
/* Spacing for main section*/
main{
    margin-top:5%;

}

/*Color for main main */
body.content{
    background-color: var(--gray85);
    color:var(--gray05);
}
/* White color section*/
.white-bg{
    background: var(--gray05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;

}
.white-bg img{
    width:100%;
   justify-content: center;
   align-content: center;
}
/*nav links & text */
.nav-link{
    font-family: Hack;
     color:var(--gray00);
      margin-right:5px;
}
.nav-link:hover{
    color: var(--lightgreen);
}

/*icons spacing */
i{
    margin-right:5px;
}
.team{
     width:80%;
     height: auto;
     box-shadow: 6px 5px var(--gray90);
     margin-bottom:5%;
     justify-self:center;
}
/*Featured Section*/
.featured{
     margin:5vh 0vw;
}
/* Testimonals */
.testimonial-image{

    width:80%;
    height: auto;
    box-shadow: 6px 5px var(--gray90);
    margin:10vh 0vw 5vh;
    justify-self:center;
}

/*Secondary pic styles */
.img-link {
    width:80%;
    height: auto;
    box-shadow: 6px 5px var(--gray90);
    margin-bottom:5%;
    justify-self:center;
}
 .img-link:hover {
    box-shadow: 3px 2px var(--gray90);
}
#jumbo{
    width:100%;
}
.skills-section{
    margin:15vh 0vw;
}
.donation-mission{
    margin:15vh 0vw;
    font-size: 22px;
}
.spacer {
    background-color:var(--gray00);
    height:1px;
}
#tax-donation-link {
     color: var(--gray00);
}
#tax-donation-link:hover {
    color: var(--gray15);
}
.tax-id{
     font-size: 30px;
}
@media only screen and (max-width:600px) {
    .parallax {
        /*Parallax effect.*/
        background-position: center right;
        /* Image URL */
        background-image: url("/images/pics/fcc-mobile.png");

        /* Centering and preventing image repetition of background image */

    }
}
.tax-id{
     font-size: 30px;
}
@media only screen and (max-width:900px){
 
     .parallax-content {
        
        margin: 1vh 5vw;
     }
     a.learn-button {
        text-align: center;
         margin: 2vw 2vh;
         border: 10px;
     }
     
    a.learn-button:hover {
        margin: 1vw 1vh;
        }
        .white-bg img {
        width:75vw;
        height:10vh;
        }
    .img-link {
        width: 100%;
        height: auto;
    }
    .main-button{
        text-align: center;
    }
    #jumbo {
        width: 100%;
    }
    .testimonial-image {

        width: 100%;
    }
    .testimonial-image {

        width: 100%;
    }
.col-sm-3{
    margin: 5% 10%;
}
}